DB_NAME=marketplace
DB_USER=root
DB_PASSWORD=''
DB_HOST=host.docker.internal

#lamda MasterShop-ProductApproval-BasicValidations
BASE_URL_[stage]=
API_TOKEN_[stage]=
DB_HOST_[stage]=
DB_HOST_READ_ONLY_[stage]=
DB_NAME_[stage]=
DB_PASSWORD_[stage]=
DB_USER_[stage]=
API_KEY=
APP_NAME=

#lamda MasterShop-ProductApproval-FinishValidation
MS_BASE_URL_[stage]=
ADMIN_BASE_URL_[stage]=
SLACK_URL=
API_TOKEN_[stage]=
DB_HOST_[stage]=
DB_HOST_READ_ONLY_[stage]=
DB_NAME_[stage]=
DB_PASSWORD_[stage]=
DB_USER_[stage]=
ADMIN_API_KEY=
ADMIN_APP_NAME=

#lamda MasterShop-ProductApproval-TrafficRegulator
STEP_FUNCTION_ARN_[stage]